.form-control
{
    
}

.signup-form
{
    padding-right:10%;
    background: white;
}

.bg_img
{
    background:url(../images/Vector.jpg);
  /*  background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
*/
}